body {
  background-color: orange;
}

.head {
  color: darkblue;
}

#bglime {
  background-color: lime;
}

#bglime span {
  color: red;
}


p {
  color: white;
}

#para {
  color: green;
}

p span {
  color: black;
  font-size: 22px;
}

a {
  background-color: yellow;
}

ul {
  color: white;
}

ul li:first-child a {
  background-color: yellow;
}

ul li:last-child a {
  background-color: blue;
}

ol li:nth-child(2) {
  color: blue;
}

ol li:nth-child(3) {
  color: red;
}