* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #e6e6e6;
}

.container {
  margin-left: 25vw;
  margin-right: 25vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.container img {
  width: 100%;
  height: auto;
  display: block;
}

button{
  font-family: Arial, sans-serif;
  width: 100%;
  height: 8vh;
  border: none;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  background: linear-gradient(to right, orange, green);
}